<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Visualization Assignment - 1</title>

    <!-- CSS
    <link rel="stylesheet" type="text/css" href="Styles.css">
-->
    <!-- D3.js CDN source -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="https://d3js.org/d3-ease.v1.min.js"></script>
</head>
<body>
	<div>
    <script src="./static/lib/js/queue.js"></script>
    <script type="text/javascript" src="./static/js/script.js"></script>

    </div>
</body>
</html>